In [1]:
import numpy as np
import pandas as pd

# Pandas Series

##  Métodos para crear una serie

In [2]:
labels = ['a','b','c']
labels

['a', 'b', 'c']

In [3]:
mylist = [10,20,30]
mylist

[10, 20, 30]

In [4]:
arr = np.array(mylist)
arr

array([10, 20, 30])

In [6]:
d={'a':10,'b':20,'c':30}
d

{'a': 10, 'b': 20, 'c': 30}

In [5]:
pd.Series(data=mylist)
# Mostrará automáticamente el índice que coincide con los datos.

0    10
1    20
2    30
dtype: int64

In [7]:
# No hace falta usar el =, lo podemos pasar directamente
# Podemos pasar un numpy array
pd.Series(arr)

0    10
1    20
2    30
dtype: int64

In [8]:
# Así que en este momento vimos que solo pasamos datos sin procesar.
# Esos le mostrarán automáticamente el índice que acompaña a cada uno de ellos.

In [9]:
# Los datos no tienen que ser numéricos, pueden ser de tipo mixto.
# No va a ser capaz de almacenar todo como el mismo tipo de datos
pd.Series(data=[10,'a',4.4])

0     10
1      a
2    4.4
dtype: object

## Ahora le sumamos la parte del index

In [10]:
pd.Series(data=arr,index=labels)

# Ahora, cuando veamos nuestra serie, recuperamos un índice con NOMBRE que es realmente agradable y muy conveniente
# Porque la gente por lo general, tienden a pensar en los índices como nombres, por lo que puedo pensar en a
# como fábrica a o empresa a y luego empresa B, empresa C y tal vez estos son números de salida para cada una de esas empresas

a    10
b    20
c    30
dtype: int64

In [11]:
# Tenemos nuestros datos en una serie y comprendemos que la serie es esencialmente una matriz numpy con un índice con nombre por conveniencia.
# Entonces, hablemos sobre el uso de ese índice de una manera más realista.
ser1 = pd.Series([1,2,3,4],index=['USA','Germany','USSR','Japan'])
ser1

USA        1
Germany    2
USSR       3
Japan      4
dtype: int64

In [12]:
ser1['USA']

np.int64(1)

In [13]:
ser2 = pd.Series([1,4,5,6],index=['USA','Germany','Italy','Japan'])
ser2

USA        1
Germany    4
Italy      5
Japan      6
dtype: int64

## Operaciones con series
### La operación se realiza en función del índice

In [15]:
ser1 + ser2
# A los que no están en las 2 series (ej USSR está en ser1 pero no en ser2) les asigna NaN

Germany     6.0
Italy       NaN
Japan      10.0
USA         2.0
USSR        NaN
dtype: float64